$prefixCls:alert;
.#{$prefixCls} {
    box-sizing: border-box;
    position: relative;
    padding: 5px 12px;
    margin-bottom: 16px;
    border-radius: 3px;
    &.success {
        background-color: #f6ffed;  
        border: 1px solid #b7eb8f;      
    }
    &.info {
        background: #edf7ff;
        border: 1px solid #91d5ff;

    }
    &.error {
        background: #fffbe6;
        border: 1px solid #ff4e02;
    }
    &.warning {
        background: #fff1f0;
        border: 1px solid #FFA502;
    }
    .alertMes {
        margin-bottom: 5px;
        color: rgba(0,0,0,0.85);
        font-size: 14px;
        line-height: 1.5em;

    }
    .alertDesc {
        color: rgba(0,0,0,0.65);
        font-size: 14px;
        line-height: 1.5em;
        word-break: break-all;
    }
    .closeBtn {
        position: absolute;
        right: 8px;
        top: 5px;
        color: rgba(0,0,0,0.4);
        cursor: pointer;
    }
}